@{
    ViewData["Title"] = "Login";
    Layout = null;
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <title>Login - NexStock</title>

    <link rel="stylesheet" href="~/css/site.css" />
</head>

<body class="login-page">

    <!-- LOADING -->
    <div id="loading-screen">
        <div class="loading-spinner">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>

    <div class="logo">
        <img src="@Url.Content("~/img/logo.png")" alt="Logo">
    </div>

    <form class="login-box" asp-action="Login" method="post">

        <p class="title">Conecte-se</p>

        @if (ViewBag.Error != null)
        {
            <p class="error">@ViewBag.Error</p>
        }

        <div class="input-field">
            <input required class="input" type="email" name="email" />
            <label class="label">Digite o e-mail</label>
        </div>

        <div class="input-field">
            <input required class="input" type="password" name="senha" />
            <label class="label">Digite a senha</label>
        </div>

        <button class="btn" type="button" onclick="enviarComLoading()" >
            Entrar
        </button>

    </form>

    <!-- 🔥 IMPORTANTE -->
    <script src="~/js/site.js"></script>

</body>
</html>